{% extends "base.html" %} {% block title %}Password Reset{% endblock title %} {%
    block content %}
    
    <form method="POST">
        {{ reset_password.hidden_tag() }} {% if reset_password.errors %}
        <ul class="errors">
            {% for field_name, field_errors in reset_password.errors|dictsort if field_errors
            %} {% for error in field_errors %}
            <li>{{ reset_password[field_name].label }}: {{ error }}</li>
            {% endfor %} {% endfor %}
        </ul>
        {% endif %}
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-5" style="margin-top: 7%;">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="card-body p-md-5 mx-md-4">
                                <div class="text-center">
                                    <img src="{{ url_for('static', filename='images/GXO_Logo.png')}}" style="width: 185px;" alt="logo">
                                    <h4 class="mt-1 mb-5 pb-1">We are The GXO Team</h4>
                                </div>
                                <p class="card-text py-2">
                                    Enter your new password.
                                </p>
                                <div class="form-outline">
                                    {{ reset_password.password(class="form-control", style="background-color:
                                    #F0F0F0")}} {{ reset_password.password.label }}
                                </div>
                                <div class="form-outline">
                                    {{ reset_password.password_repeat(class="form-control", style="background-color:
                                    #F0F0F0")}} {{ reset_password.password_repeat.label }}
                                </div>
                                {{ reset_password.submit_password_change(class="btn
                                btn-primary",style="background-color:#ff3a00; color:#ffffff;")}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endblock content %}
    