{% extends "base.html" %} {% block title %}Password Reset{% endblock title %} {%
    block content %}
    
    <form method="POST">
        {{ form.hidden_tag() }} {% if form.errors %}
        <ul class="errors">
            {% for field_name, field_errors in form.errors|dictsort if field_errors
            %} {% for error in field_errors %}
            <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %} {% endfor %}
        </ul>
        {% endif %}
        <div class="card text-center" style="width: 300px">
            <div class="card-header h5 text-white bg-primary">Password Reset</div>
            <div class="card-body px-5">
                <p class="card-text py-2">
                    Enter your new password.
                </p>
                <div class="form-outline">
                    {{ reset_password.password(class="form-control", style="background-color:
                    #F0F0F0")}} {{ reset_password.password.label }}
                </div>
                <div class="form-outline">
                    {{ reset_password.password_repeat(class="form-control", style="background-color:
                    #F0F0F0")}} {{ reset_password.repeat.label }}
                </div>
                {{ reset_password.submit_password_reset(class="btn
                btn-primary",style="background-color:#ff3a00; color:#ffffff;")}}
                <div class="d-flex justify-content-between mt-4">
                    <a class="" href="/login">Login</a>
                    <a class="" href="/register">Register</a>
                </div>
            </div>
        </div>
    </form>
    {% endblock content %}
    