{% extends "base.html" %}
{% block title %}Sign Up{% endblock title %}

{% block navbar %}
        <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="/">
        <img
          src="{{ url_for('static', filename='images/GXO_Logo.png')}}"
          height="16"
          alt="MDB Logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
        <div class="d-flex align-items-center">
            <a href="/login"><button type="button" class="btn btn-link px-3 me-2">
              Login
            </button>
          </a>
        </div>
      </div>
    </div>

  </nav>
  <!-- Navbar -->
        {% endblock navbar %}
        {% block content %}
        {% with messages = get_flashed_messages(with_categories=true)%}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'error' %}
                    <div class="alert alert-danger alert-dismissable fade fade show" style="padding-top:75px;">
                        {{ message }}
                        <button type="button" class="btn btn-primary" style="float: right; background-color:#ff3a00; color:#ffffff;" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% else %}
                    <div class="alert alert-success alert-dismissable fade show" style="padding-top:75px;">
                        {{ message }}
                        <button type="button" class="btn btn-primary" style="float: right; background-color:#ff3a00; color:#ffffff;" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        
<!-- Section: Design Block -->
<section class="h-100">
    <!-- Jumbotron -->
    <div class="px-4 py-5 px-md-5 text-center text-lg-start h-100" style="background-color: hsl(0, 0%, 96%);">
      <div class="container" style="padding-top:100px;">
        <div class="row gx-lg-5 align-items-center">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <h1 class="my-5 display-3 fw-bold ls-tight" style="color: #2e3033;">
              The best offer <br />
              <span style="color: #ff3a00;">for your business</span>
            </h1>
            <p style="color: hsl(217, 10%, 50.8%)">
                GXO brings major advantages of technology, 
                scale and expertise, as well as something unique — customized 
                logistics solutions that transform challenges into competitive strengths — 
                to every customer relationship. We understand the supply chain requirements of each 
                industry that we serve, including regulations, special handling, surge management and other demands. 
                Because we’re working from a strong base of experience, we can concentrate on 
                tailoring logistics solutions to the specific needs of each GXO customer.
            </p>
          </div>
          
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card">
              <div class="card-body py-5 px-md-5">
                <form method="POST">
                  {{ form.hidden_tag() }}
                  {% if form.errors %}
    <ul class="errors">
        {% for field_name, field_errors in form.errors|dictsort if field_errors %}
            {% for error in field_errors %}
                <li>{{ form[field_name].label }}: {{ error }}</li>
            {% endfor %}
        {% endfor %}
    </ul>
{% endif %}
                  <!-- 2 column grid layout with text inputs for the first and last names -->
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        {{ form.first_name(class="form-control", style="background-color: #F0F0F0")}}
                        {{ form.first_name.label }}
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        {{ form.last_name(class="form-control", style="background-color: #F0F0F0")}}
                        {{ form.last_name.label }}
                      </div>
                    </div>
                  </div>
  
                  <!-- Email input -->
                  <div class="form-outline mb-4">
                    {{ form.email(class="form-control", style="background-color: #F0F0F0")}}
                    {{ form.email.label }}
                  </div>

                  <div class="form-outline mb-4">
                    {{ form.phone(class="form-control", style="background-color: #F0F0F0")}}
                    {{ form.phone.label }}
                  </div>
  
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    {{ form.password(class="form-control", style="background-color: #F0F0F0")}}
                    {{ form.password.label }}
                  </div>

                  <!-- Repeat password input -->
                  <div class="form-outline mb-4">
                    {{ form.password_repeat(class="form-control", style="background-color: #F0F0F0")}}
                    {{ form.password_repeat.label }}
                  </div>
  
                  <!-- Submit button -->
                    {{ form.submit(class="btn btn-primary",style="background-color:#ff3a00; color:#ffffff;")}}
                    
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Jumbotron -->
  </section>
  <!-- Section: Design Block -->
{% endblock content %}